/*--------------------------------------------------------------
# Start Header Styles
--------------------------------------------------------------*/
.header-area {
    .header-top {
        font-family: $title-font;
        background-color: $offwhite;
        padding: 3px 0;
    }
}
/*--------------------------------------------------------------
# End Header Styles
--------------------------------------------------------------*/
