// Section Gap
.section-gap {
    padding: 60px 0;
}

// Main Title
.main-title {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    align-items: center;
    text-align: center;
    margin-bottom: 26px;
    text-transform: uppercase;
    font-size: 18px;
    font-weight: 600;
    line-height: 1.2;
    color: #222;
    font-family: $primary-font;
    &::before,
    &:after {
        flex: 1;
        content: "";
        height: 2px;
    }
    &::before {
        margin-right: 25px;
        background-color: $offwhite;
    }
    &:after {
        margin-left: 25px;
        background-color: #edeef0;
    }
}

// Primary Button
.primary-button {
    padding: 11px 45px;
    border-radius: 0;
    text-transform: uppercase;
    font-size: 14px;
    font-weight: 600;
}

// Count Product Quantity
.quantity-count-button {
    border: 1px solid #ccc;
    border-color: #ccc!important;
    background-color: transparent;
    border-radius: 0;
    height: 45px;
    width: 40px;
    font-weight: 400;
    &:focus {
        box-shadow: none;
        background-color: transparent;
    }
}
.quantity-count-input {
    flex: 1;
    padding: 0;
    font-size: 14px;
    border: 1px solid #ccc;
    color: #222;
    text-align: center;
    max-width: 48px;
    border-radius: 0;
    height: 45px;
    font-weight: 600;
    &:focus {
        box-shadow: none;
        border-color: #ccc;
    }
}
